*.pid
*.xml
*.csr
*.crt
*.key
*.pem
*.conf
*.pickle
*.db-journal
*.db-shm
*.db-wal
*.sqlite
# Logs
*.log
/*.log
/*.log.*
/*/log/*
*.db
*.sqlite
.cloud
.storage
/.storage
.google.token
.john.koht@gmail.com.august.conf
alexa_mediajohn.koht@gmail.comget.html
alexa_mediajohn.koht@gmail.compost.html
.uuid
core.*
core
OZW_Log.txt
home-assistant.log
home-assistant.log.*
home-assistant_v2
home-assistant_v2.*
deps
icloud
__pycache__
hacs
alexa_media
custom_components
image
tts
secrets.yaml
secrets
known_devices.yaml
.homekit.state
phue.conf
ios.conf
pyozw.sqlite
nest.conf
ipchange.yaml
ip_bans.yaml
production_auth.json

# ESPresense script
/espresense-update.sh

# General stuff
/www/images
/tts
/nest/event_media



